@model List<Domain.Entities.Bookings.UBooking>


<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h5>Destinations</h5>
            </div>
            @using (Ajax.BeginForm("ShowUserBookings", "MyProfilePage", new AjaxOptions
            {
                HttpMethod = "GET",
                OnSuccess = "success",
                OnFailure = "fail",
                UpdateTargetId = "resultTarget"
            }, new { enctype = "multipart/form-data", id = "profileForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table class="table align-items-center justify-content-center mb-0">
                            <thead>
                                <tr>
                                    <th>
                                        <h6>Package Name</h6>
                                    </th>
                                    <th>
                                        <h6>Duration</h6>
                                    </th>
                                    <th>
                                        <h6>People</h6>
                                    </th> 
                                    <th>
                                        <h6>Price</h6>
                                    </th>
                                    <th> 
                                        <h6>Status</h6>
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="card-body">
                                @foreach (var trip in Model)
                                {
                                    <tr id="destination-@trip.DestinationID" class="align-items-center">
                                        <td>
                                            <span class="text-xs font-weight-bold d-block">@trip.DestinationName</span>
</td>
                                        <td>
                                            <span class="text-xs font-weight-bold d-block">@trip.StartDate.ToString("MM/dd/yyyy") - @trip.EndDate.ToString("MM/dd/yyyy")</span>
                                        </td>
                                        <td>
                                            <span class="text-xs font-weight-bold">@trip.TotalPeople</span>
                                        </td>
                                        <td>
                                            <span class="text-xs font-weight-bold">$@trip.TotalPrice</span>
                                        </td>
                                        <td>
                                            <span class="text-xs font-weight-bold">@trip.Status</span>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
