@{
    Layout = "~/Views/Shared/AdminDashboard.cshtml";
    ViewBag.Title = "Tables";
}


@model List<Domain.Entities.User.UserMinimal>

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <h6>User Table</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">User</th>
                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Function</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                                <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Last Logged in</th>
                                <th class="text-secondary opacity-7"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <img src="data:image/png;base64,@Convert.ToBase64String(user.UserPhoto)" class="avatar avatar-sm me-3 rounded-circle" alt="@user.Username">
                                            <div>
                                                <h6 class="mb-0 text-sm">@user.Username</h6>
                                                <p class="text-xs text-secondary mb-0">@user.Email</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column">
                                            <span class="text-xs font-weight-bold mb-1">Level:</span>
                                            <p class="text-xs mb-0">@user.Level</p>
                                        </div>
                                        <div class="mt-2">
                                            <form method="post" action="@Url.Action("ChangeUserRole", "Admin")">
                                                <input type="hidden" name="userId" value="@user.Id" />
                                                <select name="newAccessLevel" class="form-select form-select-sm">
                                                    <option value="Admin">Admin</option>
                                                    <option value="User">User</option>
                                                </select>
                                                <button type="submit" class="btn btn-sm btn-primary mt-1">Change</button>
                                            </form>
                                        </div>
                                    </td>
                                    @* <td>
                                            @if (ViewBag.OnlineStatuses.ContainsKey(user.Id) && ViewBag.OnlineStatuses[user.Id])
                                            {
                                                <span class="badge bg-gradient-success">Online</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-gradient-secondary">Offline</span>
                                            }
                                        </td>*@
                                    <td class="text-center">
                                        <span class="text-secondary text-xs font-weight-bold">@user.LastLogin</span>
                                    </td>
                                    <td class="text-center">
                                        <a href="@Url.Action("DeleteUser", "Admin", new { id = user.Id })" class="btn btn-sm btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

