@using System.Web.Optimization;

<head>
    @Styles.Render("~/bundle/bootstrap/min/css")
    @Styles.Render("~/bundles/register/css")
    @Styles.Render("~/bundles/css")


    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
</head>

<body>

    @RenderBody();

    @Scripts.Render("~/bundles/scripts")

    <script>
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            demo.initDashboardPageCharts();

        });</script>

</body>
