@using System.Web.Optimization;

<head>
    @Styles.Render("~/bundle/bootstrap/min/css")
    @Styles.Render("~/bundles/register/css")
    @Styles.Render("~/bundles/css")


    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
</head>

<body>

    @RenderBody();

    @Scripts.Render("~/bundles/scripts")

    <script async defer src="https://buttons.github.io/buttons.js"></script>

</body>
