@{
    Layout = "~/Views/Shared/RegistrationLogIn.cshtml";
}
@model App.Models.userLogin

<div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
            <h1 class="my-5 display-5 fw-bold ls-tight" style="color: rgba(19, 53, 123, 1) ">
                Put your dates here to <br />
                <span style="color: rgba(19, 53, 123, 1)">LogIn</span>
            </h1>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
            <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
            <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

            <div class="card bg-glass">
                <div class="card-body px-4 py-5 px-md-5">
                    @using (Html.BeginForm("LogIn", "LogInPage", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            @Html.TextBoxFor(m => m.Credential, new { @class = "form-control", id = "form3Example3" })
                            @Html.LabelFor(m => m.Credential, new { @class = "form-label" })
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "form3Example4" })
                            @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center mb-4">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
                            <label class="form-check-label" for="form2Example33">
                                Subscribe to our newsletter
                            </label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">
                            Sign in
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
